body {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.hidden {
    filter: blur(4px);
    text-decoration: line-through;
}

hr {
    margin: 2px;
}


h1,h2,h3,h4,h5,h6 {
    font-family: 'Merriweather', serif;
}

p,a {
    font-family: 'PT Sans', sans-serif;
}

.answers, b {
    font-family: 'Tenali Ramakrishna', sans-serif;
}

.click-icon {
    cursor: pointer;
}

/* base */

.page-container {
    width: 100%;
    max-width: 1200px;
}

/* enter page */

.enter-container {
    width: 500px;
}

/* quiz */

.username-style {
    font-size: 24px;
}

.quiz-master p {
    font-size: 30px;
    color: black;
    margin-bottom: 10px;
}

.answer-count-container {
    max-height: 120px;
    overflow-y: auto;
}

.category-wrapper {
    overflow: auto;
    white-space: nowrap;
}

.category-container {
    min-width: 100px;
    display: inline-block;
    margin-right: 10px;
}

.category-list {
    border: solid rgb(231, 231, 231) 1px;
    padding: 5px;
}

.category-list li:nth-child(even) {
    background-color: rgb(243, 243, 243);
}

.round-wrapper {
    overflow: auto;
    white-space: nowrap;
}

.round-container {
    min-width: 200px;
    display: inline-block;
    margin-right:  0 ;
    margin-left: 0 ;
}

.answers-list {
    border: solid rgb(231, 231, 231) 1px;
}

.answers-list li:nth-child(even) {
    background-color: rgb(243, 243, 243);
}

/* media quiries */
@media only screen and (min-width: 750px) {
    .quiz-master p {
        font-size: 15px;
    }
}