{% extends 'base.html' %}

<!-- Navigation links -->
{% block nav_items %}
<li><a href="/">Exit<i class="fas fa-home ml-2"></i></a></li>
{% endblock %}

{% block content %}

<h2 class="text-center mt-3 mb-2">{{ quiz.quizName }}</h2>
<h6 class="m-0 text-secondary text-center mb-3">Categoires</h6>
<hr class="mb-2">

<div class="d-flex justify-content-center">
    <div class="enter-container">
        <h5 class="text-center my-3">Welcome {{username}}, enter your categories for the quiz!</h5>
        <form method="POST">
            {% for cat in range(quiz['categories']) %}
                <label>Category {{ cat + 1 }}</label>
                <input type="text" class="form-control" name="cat{{ cat + 1 }}" required>
            {% endfor %}
            <p class="text-center mt-3">Have a great quiz!</p>
            <button type="submit" class="btn btn-success form-control mt-2">Join Quiz</button>
        </form>
    </div>
 
</div>


{% endblock %}