{% extends 'base.html' %}
{% block content %}

<h2 class="text-center my-4">Quiz Master</h2>

<div class="d-flex justify-content-center">
    <div class="enter-container">
        <p class="text-center">Welcome {{ username }}, enter your categories for tonight!</p>
        <form method="POST">
            {% for cat in range(quiz['categories']) %}
                <label>Category {{ cat + 1 }}</label>
                <input type="text" class="form-control" name="cat{{ cat + 1 }}" required>
            {% endfor %}
            <p class="text-center mt-3">Have a great quiz!</p>
            <button type="submit" class="btn btn-success form-control mt-2">Join Quiz</button>
        </form>
    </div>
 
</div>


{% endblock %}