{% extends 'base.html' %}
{% block content %}
<h3 class="text-center my-4">Family Quiz</h3>

    <div class="row m-0 p-0">
        <div class="col-4">
            <h6>Alex</h6>
            <form action="{{ url_for('save_alex') }}" method="POST" class="mb-4">
                <input name="answer">
                <button type="sumbit">Save</button>
            </form>
            {% for answer in alex_answers %}
            <div class="row m-0 p-0">
                <div class="col-6">
                    <p"><b>{{loop.index}}.</b> <span class="alex_answers hidden">{{ answer.answer }}</span></p>
                </div>
                {% if loop.last %}
                <div class="col-6">
                    <a href="{{ url_for('delete_alex', data_id=answer._id )}}">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </a>
                </div>
                {% endif %}
                <div class="col-12">
                    <hr>
                </div> 
                {% if loop.index == 5 %}
                <div class="col-12">
                    <button class="my-5 answers" id="alex">Reveal Alex's Answers!</button>
                </div>
                {% endif %}
            </div>
            {% endfor %}
            
        </div>
        <div class="col-4">
            <h6>Mum</h6>
            <form action="{{ url_for('save_mum') }}" method="POST" class="mb-4">
                <input name="answer">
                <button type="sumbit">Save</button>
            </form>
            {% for answer in mum_answers %}
            <div class="row m-0 p-0">
                <div class="col-6">
                    <p"><b>{{loop.index}}.</b> <span class="mum_answers hidden">{{ answer.answer }}</span></p>
                </div>
                {% if loop.last %}
                <div class="col-6">
                    <a href="{{ url_for('delete_mum', data_id=answer._id )}}">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </a>
                </div>
                {% endif %}
                <div class="col-12">
                    <hr>
                </div> 
                {% if loop.index == 5 %}
                <div class="col-12">
                    <button class="my-5 answers" id="mum">Reveal Alex's Answers!</button>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div class="col-4">
            <h6>Joseph</h6>
            <form action="{{ url_for('save_joseph') }}" method="POST" class="mb-4">
                <input name="answer">
                <button type="sumbit">Save</button>
            </form>
            {% for answer in joseph_answers %}
            <div class="row m-0 p-0">
                <div class="col-6">
                    <p"><b>{{loop.index}}.</b> <span class="joseph_answers hidden">{{ answer.answer }}</span></p>
                </div>
                {% if loop.last %}
                <div class="col-6">
                    <a href="{{ url_for('delete_joseph', data_id=answer._id )}}">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </a>
                </div>
                {% endif %}
                <div class="col-12">
                    <hr>
                </div> 
                {% if loop.index == 5 %}
                <div class="col-12">
                    <button class="my-5 answers" id="joseph">Reveal Alex's Answers!</button>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}