{% extends 'base.html' %}
{% block content %}
<div class="col-12 d-flex justify-content-end">
    <img src="https://img.icons8.com/fluent/25/000000/settings.png" class="click-icon"  data-toggle="collapse" href="#settings"/>
</div>
<div class="collapse col-12" id="settings">
    <a href="{{ url_for('restart_quiz') }}">
        <button class="btn btn-danger">Restart Quiz</button>
    </a>
</div>
<h2 class="text-center mb-4">Family Quiz</h2>

<div class="d-flex justify-content-between">
    <div style="width:240px;">
        {% if username == 'Alex' %}
        <h3>{{ alex_count }} / 20</h3>
        {% endif %}
        {% if username == 'Mum' %}
        <h3>{{ mum_count }} / 20</h3>
        {% endif %}
        {% if username == 'Joseph' %}
        <h3>{{ joseph_count }} / 20</h3>
        {% endif %}
        <p class="m-0 mr-3 d-inline">Logged in as: <b class="username-style">{{ username }}</b></p>
        <a href="{{ url_for('log_out') }}" class="float-right">
            <button class="btn btn-warning">Log out</button>
        </a>
    </div>
    
    {% if username == 'Alex' %}
    <div>
        <form action="{{ url_for('save_alex') }}" method="POST">
            <div class="d-flex justify-content-center">
                <input name="answer" class="answer form-control mr-2" id="input" placeholder="Answer here!"  spellcheck="true">
                <button type="sumbit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    {% endif %}


    {% if username == 'Mum' %}
    <form action="{{ url_for('save_mum') }}" method="POST">
        <div class="d-flex justify-content-center">
        <input name="answer" class="answer form-control mr-2" id="input" placeholder="Answer here!"  spellcheck="true">
        <button type="sumbit "  class="btn btn-primary">Submit</button>
        </div>
    </form>
    {% endif %}

    {% if username == 'Joseph' %}
    <form action="{{ url_for('save_joseph') }}" method="POST">
        <div class="d-flex justify-content-center">
        <input name="answer" class="answer form-control mr-2" id="input" placeholder="Answer here!"  spellcheck="true">
        {% if joseph_count < 20 %}
        <button type="sumbit" class="btn btn-primary">Submit</button>
        {% endif %}
        </div>
    </form>
    {% endif %}


   <div>
      <p class="m-0"><b>Alex</b>: {{ alex_count }} / 20</p>
      <p class="m-0"><b>Mum</b>: {{ mum_count }} / 20</p>
      <p class="m-0"><b>Joseph</b>: {{ joseph_count }} / 20</p>
   </div>
</div>
{% if quizDoneButton %}
<div class="col-12 d-flex justify-content-center my-2">
    <a href="{{ url_for('quiz_done') }}">
        <button class="btn btn-success container-fluid" id="quiz_finished">Finished Quiz</button>
    </a>
</div>
{% endif %}
{% if mum_count < 10 and joseph_count < 10 or answers_hidden.hidden == 'False' %}
<hr class="round-break mt-0">

<!-- round one -->
<div class="row m-0 p-0">
    <div class="col-12 m-0 p-0">
        <h4 class="text-center">Round One</h4>
    </div>
    <div class="col-12 col-lg-4 mt-2">
        <h4>Alex</h4>
        <div class="quiz-master">
            <p>Quiz Master</p>
        </div>
    </div>

    <div class="col-12 col-lg-4 mt-2">
        <h4>Mum</h4>
        <h6>{{ alexCategories.catOne }} Questions:</h6>
        {% for answer in mum_answers %}
        {% if loop.index <= 10 %}
        <div class="row m-0 p-0">
            <div class="col-6">
                {% if answers_hidden.hidden == 'True' %}
                <p class="m-0"><b>{{loop.index}}.</b> <span class="answers hidden">{{ answer.answer }}</span></p>
                {% else %}
                <p class="m-0"><b>{{loop.index}}.</b> <span class="answers">{{ answer.answer }}</span></p>
                {% endif %}
            </div>
            {% if username == 'Mum' %}
            {% if loop.last %}
            <div class="col-6 d-flex justify-content-end">
                <a href="{{ url_for('delete_mum', data_id=answer._id )}}">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </a>
            </div>
            {% endif %}
            {% endif %}
            {% if loop.index == 5 %}
            <div class="col-12 m-0 p-0">
                <h6>{{ alexCategories.catTwo }} Questions:</h6>
            </div>
            {% endif %}
            <div class="col-12">
                <hr>
            </div>
        </div>

        {% endif %}
        {% endfor %}
    </div>

    <div class="col-12 col-lg-4 mt-2">
        <h4>Joseph</h4>
        <h6>{{ alexCategories.catOne }} Questions:</h6>
        {% for answer in joseph_answers %}
        {% if loop.index <= 10 %}
        <div class="row m-0 p-0">
            <div class="col-6">
                {% if answers_hidden.hidden == 'True' %}
                <p class="m-0"><b>{{loop.index}}.</b> <span class="answers hidden">{{ answer.answer }}</span></p>
                {% else %}
                <p class="m-0"><b>{{loop.index}}.</b> <span class="answers">{{ answer.answer }}</span></p>
                {% endif %}
            </div>
            {% if username == 'Joseph' %}
            {% if loop.last %}
            <div class="col-6 d-flex justify-content-end">
                <a href="{{ url_for('delete_joseph', data_id=answer._id )}}">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </a>
            </div>
            {% endif %}
            {% endif %}
            {% if loop.index == 5 %}
            <div class="col-12 m-0 p-0">
                <h6>{{ alexCategories.catTwo }} Questions:</h6>
            </div>
            {% endif %}
            <div class="col-12">
                <hr>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
<hr class="round-break">

{% if mum_count >= 10 and joseph_count >= 10 and joseph_count < 20  or answers_hidden.hidden == 'False' %}
<!-- round two -->
<div class="row m-0 p-0">
    <div class="col-12 m-0 p-0">
        <h4 class="text-center">Round Two</h4>
    </div>
    <div class="col-12 col-lg-4">
        <h4>Alex</h4>
        <h6>{{ mumCategories.catOne }} Questions:</h6>
        {% for answer in alex_answers %}
        {% if loop.index <= 10 %}
        <div class="row m-0 p-0">
            <div class="col-6">
                {% if answers_hidden.hidden == 'True' %}
                <p class="m-0"><b>{{loop.index}}.</b> <span class="answers hidden">{{ answer.answer }}</span></p>
                {% else %}
                <p class="m-0"><b>{{loop.index}}.</b> <span class="answers">{{ answer.answer }}</span></p>
                {% endif %}
            </div>
            {% if username == 'Alex' %}
            {% if loop.last %}
            <div class="col-6 d-flex justify-content-end">
                <a href="{{ url_for('delete_alex', data_id=answer._id )}}">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </a>
            </div>
            {% endif %}
            {% endif %}
            {% if loop.index == 5 %}
            <div class="col-12 m-0 p-0">
                <h6>{{ mumCategories.catTwo }} Questions:</h6>
            </div>
            {% endif %}
            <div class="col-12">
                <hr>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <div class="col-12 col-lg-4">
        <h4>Mum</h4>
        <div class="quiz-master">
            <p>Quiz Master</p>
        </div>
    </div>

    <div class="col-12 col-lg-4">
        <h4>Joseph</h4>
        <h6>{{ mumCategories.catOne }} Questions:</h6>
        {% for answer in joseph_answers_two %}
        {% if loop.index > 10 %}
        <div class="row m-0 p-0">
            <div class="col-6">
                {% if answers_hidden.hidden == 'True' %}
                <p class="m-0"><b>{{loop.index}}.</b> <span class="answers hidden">{{ answer.answer }}</span></p>
                {% else %}
                <p class="m-0"><b>{{loop.index}}.</b> <span class="answers">{{ answer.answer }}</span></p>
                {% endif %}
            </div>
            {% if username == 'Joseph' %}
            {% if loop.last %}
            <div class="col-6">
                <a href="{{ url_for('delete_joseph', data_id=answer._id )}}">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </a>
            </div>
            {% endif %}
            {% endif %}
            {% if loop.index == 15 %}
            <div class="col-12 m-0 p-0">
                <h6>{{ mumCategories.catTwo }} Questions:</h6>
            </div>
            {% endif %}
            <div class="col-12">
                <hr>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<hr class="round-break">
{% endif %}

{% if joseph_count >= 20 and alex_count >= 10  or answers_hidden.hidden == 'False' %}
<!-- round three -->
<div class="row m-0 p-0">
    <div class="col-12 m-0 p-0">
        <h4 class="text-center">Round Three</h4>
    </div>
    <div class="col-12 col-lg-4">
        <h4>Alex</h4>
        <h6>{{ josephCategories.catOne }} Questions:</h6>
        {% for answer in alex_answers_two %}
        {% if loop.index > 10 %}
        <div class="row m-0 p-0">
            <div class="col-6">
                {% if answers_hidden.hidden == 'True' %}
                <p class="m-0"><b>{{loop.index}}.</b> <span class="answers hidden">{{ answer.answer }}</span></p>
                {% else %}
                <p class="m-0"><b>{{loop.index}}.</b> <span class="answers">{{ answer.answer }}</span></p>
                {% endif %}
            </div>
            {% if username == 'Alex' %}
            {% if loop.last %}
            <div class="col-6">
                <a href="{{ url_for('delete_alex', data_id=answer._id )}}">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </a>
            </div>
            {% endif %}
            {% endif %}
            {% if loop.index == 15 %}
            <div class="col-12 m-0 p-0">
                <h6>{{ josephCategories.catTwo }} Questions:</h6>
            </div>
            {% endif %}
            <div class="col-12">
                <hr>
            </div>
        </div>
        {% endif %}
        {% endfor %}

    </div>

    <div class="col-12 col-lg-4">
        <h4>Mum</h4>
        <h6>{{ josephCategories.catOne }} Questions:</h6>
       {% for answer in mum_answers_two %}
        {% if loop.index > 10 %}
        <div class="row m-0 p-0">
            <div class="col-6">
                {% if answers_hidden.hidden == 'True' %}
                <p class="m-0"><b>{{loop.index}}.</b> <span class="answers hidden">{{ answer.answer }}</span></p>
                {% else %}
                <p class="m-0"><b>{{loop.index}}.</b> <span class="answers">{{ answer.answer }}</span></p>
                {% endif %}
            </div>
            {% if username == 'Mum' %}
            {% if loop.last %}
            <div class="col-6 d-flex justify-content-end">
                <a href="{{ url_for('delete_mum', data_id=answer._id )}}">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </a>
            </div>
            {% endif %}
            {% endif %}
            {% if loop.index == 15 %}
            <div class="col-12 m-0 p-0">
                <h6>{{ josephCategories.catTwo }} Questions:</h6>
            </div>
            {% endif %}
            <div class="col-12">
                <hr>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <div class="col-12 col-lg-4">
        <h4>Joseph</h4>
        <div class="quiz-master">
            <p>Quiz Master</p>
        </div>
    </div>

    {% endif %}

</div>

{% if answers_hidden.hidden == 'True' %}
<script>
    let timer = setTimeout(function () {
        if ($('#input').val() == '') {
            location.reload();
        }
    }, 5000)
    $('.answer').on('keydown', function (e) {
        clearTimeout(timer)
        timer = setTimeout(function () {
            if ($('#input').val() == '') {
                location.reload();
            }
        }, 5000)
    });
</script>
{% endif %}




{% endblock %}