{% extends 'base.html' %}
{% block content %}

<!-- Title and settings -->
<div class="col-12 p-0">
    <p class="m-0 mr-3 d-inline">Logged in as: <b class="username-style">{{ username }}</b></p>
    <img src="https://img.icons8.com/fluent/25/000000/settings.png" class="click-icon float-right"
        data-toggle="collapse" href="#settings" />
</div>
<div class="collapse col-12 mt-3" id="settings">
    <a href="{{ url_for('quiz_ended') }}">
        <button class="btn btn-danger btn-sm">Finished Quiz</button>
    </a>
    <a href="{{ url_for('log_out') }}" class="float-right">
        <button class="btn btn-warning btn-sm">Log out</button>
    </a>
</div>

<form method="POST" action="{{ url_for('mark_answers') }}">
    <!-- the rounds -->
    <div class="row m-0 p-0">
        <div class="col-12 m-0 p-0">
            <hr>
        </div>
        {% for round in range(quiz.userCount) %}
        {% set quizMaster = quiz.usersNames[round] %}
            {% if quizMaster == username %}
                <div class="col-12 m-0 p-0">
                    <!-- each round -->
                    <div class="m-0 p-0 px-3 round-wrapper">
                        {% for user in range(quiz.userCount) %}
                        {% set usersName = quiz.usersNames[user] %}
                        {% if usersName != quizMaster %}
                        <div class="round-container" id="list-item-{{round}}-{{user}}">
                            <h5 class="mt-3 mb-1">{{ usersName }}'s answers:</h5>
                            <ol class="p-0 answers-list px-3 pb-3">
                                <!-- display the categories -->
                                {% for cat in range(quiz.categories) %}
                                <h6 class="my-3">{{ quiz.usersData[quizMaster]['categories'][cat] }} Questions</h6>
                                <!-- Users answers -->
                                {% for answer in range(quiz.questionsCount) %}
                                {% set answerIndex = cat * quiz.questionsCount %}
                                {% set questionsPerRound = quiz.questionsCount * quiz.categories %}
                                {% set roundIndex = round * questionsPerRound %}
                                <!-- if user is quizMaster minus the number of questions per round -->
                                {% if user <= round %}
                                <li class="ml-4"><span>
                                        {% if quiz['usersData'][usersName]['answers'][answer + answerIndex + roundIndex - questionsPerRound] %}
                                            {{ quiz['usersData'][usersName]['answers'][answer + answerIndex + roundIndex - questionsPerRound]['answer'] }}
                                            <span class="float-right ml-3">
                                                <input type="checkbox" name="answer" value="{{user}}-{{cat}}-{{answer}}">
                                            </span>
                                        {% endif %}
                                    </span>
                                </li>
                                {% else %}
                                <li class="ml-4"><span>
                                        {% if quiz['usersData'][usersName]['answers'][answer + answerIndex + roundIndex] %}
                                            {{ quiz['usersData'][usersName]['answers'][answer + answerIndex + roundIndex]['answer'] }}
                                            <span class="float-right ml-3">
                                                <input type="checkbox" name="answer" value="{{user}}-{{cat}}-{{answer}}">
                                            </span>
                                        {% endif %}
                                    </span>
                                </li>
                                {% endif %}
                                {% endfor %}
                                {% endfor %}
                            </ol>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <button class="btn btn-success ">Done</button>
</form>

{% endblock %}
