{% extends 'base.html' %}
{% block content %}

<h2 class="text-center mt-3 mb-2">Quiz Master</h2>
<h6 class="m-0 text-secondary text-center mb-3">Menu</h6>
<hr class="mb-2">
<div class="d-flex justify-content-center">
    <div class="enter-container">
        <div class="container-fluid p-0">
            <h5 class="text-center my-2">Please find or create a quiz!</h5>
            <form method="POST">
                <label class="mt-1">Quiz Name</label>
                <input type="text" name="quizName" class="form-control" placeholder="Smith's Quiz" required>
                <label class="mt-2">Pin</label>
                <input type="number" class="form-control" name="pin" placeholder="5467" required>
                <button type="submit" class="btn btn-success form-control mt-3">Enter</button>
            </form>
            <a href="/settings"><button class="btn btn-warning mt-3 container-fluid">Create A Quiz</button></a>
            {% if error != False %}
                <p class="text-danger mt-2">{{ error }}</p>
            {% endif %}
        </div>
   
    </div>
 
</div>


{% endblock %}