{% extends 'base.html' %}
{% block content %}

<h2 class="text-center my-4">Family Quiz</h2>

<div class="d-flex justify-content-center">
    <div class="enter-container">
        <div class="container-fluid">
            <p>Please enter the name of your quiz!</p>
            <form method="POST">
                <input type="text" name="quizName" class="form-control">
                <button type="submit" class="btn btn-success form-control mt-3">Enter</button>
            </form>
            <a href="/"><button class="btn btn-warning mt-2 container-fluid">Create A Quiz</button></a>
        </div>
   
    </div>
 
</div>


{% endblock %}