{% extends 'base.html' %}
{% block content %}

<!-- Title and settings -->
<div class="col-12 p-0">
    <p class="m-0 mr-3 d-inline">Logged in as: <b class="username-style">{{ username }}</b></p>
    <img src="https://img.icons8.com/fluent/25/000000/settings.png" class="click-icon float-right"  data-toggle="collapse" href="#settings"/>
</div>
<div class="collapse col-12 mt-3" id="settings">
    <a href="{{ url_for('restart_quiz') }}">
        <button class="btn btn-danger ">End Quiz</button>
    </a>
    <a href="{{ url_for('log_out') }}" class="float-right">
        <button class="btn btn-warning">Log out</button>
    </a>
</div>

<!-- quiz name and player information -->
<h2 class="text-center mb-4">{{quiz.quizName}}</h2>

<div class="row m-0 p-0 px-2 mb-3">
    <div class="col-7 col-md-12 p-0">
        <!-- quiz settings, how many questions and categories -->
        <div class="row">
            <div class="col-12 col-md p-0">
                <p class="m-0">Total Players: {{ quiz.userCount }}</p>
            </div>
            <div class="col-12 col-md p-0">
                <p class="m-0">Categories Per Player: {{ quiz.categories }}</p>
            </div>
            <div class="col-12 col-md p-0">
                <p class="m-0">Quesions Per Category: {{ quiz.questionsCount }}</p>
            </div>
            <div class="col-12 col-md p-0">
                <p class="m-0">Quesions Per Round: {{ quiz.questionsCount * quiz.categories }}</p>
            </div>
            <div class="col-12 col-md p-0">
                {% set usersQuestions = quiz.userCount - 1 %}
                {% set totalQuestions = quiz.categories * quiz.questionsCount * usersQuestions %}
                <p class="m-0">Total Questions: {{ totalQuestions }}</p>
            </div>
        </div>
    </div>
    <!-- (mobile only) how many quesions have been answered from each player -->
    <div class="col-5 p-0 d-block d-md-none">
            {% for user in range(quiz.userCount) %}
                {% set usersName = quiz.usersNames[user] %}
                <p class="m-0 text-right"><b>{{ usersName }}</b>: {{ quiz.usersData[usersName]['answers'] | length }} / {{ quiz.categories * quiz.questionsCount * usersQuestions }}</p>
            {% endfor %}
    </div>

</div>

<hr class="mb-3">

<!-- The players and their categories -->
<div class="row m-0 p-0 justify-content-center">
    <div class="col-12 m-0 p-0">
        <h5 class="text-center mb-3">Categories</h5>
    </div>
    {% for user in range(quiz.userCount) %}
        <div class="col">
            {% set usersName = quiz.usersNames[user] %}
            <h6>{{ loop.index }}. {{ usersName }}'s</h6>
            <ol>
            {% for cat in range(quiz.categories) %}
                <li>{{ quiz.usersData[usersName]['categories'][cat] }}</li>
            {% endfor %}
        </ol>
        </div>
    {% endfor %}

</div>

<hr class="mb-3">

<!-- answer question -->
<div class="row p-0">
    <div class="col-12 mb-3 px-2">
        <form action="{{ url_for('save') }}" method="POST">
            <div class="d-flex justify-content-center">
                <input name="answer" class="answer form-control mr-2" id="input" placeholder="{{ username }} Answer here!"  spellcheck="true">
                {% if quiz.usersData[username]['answers'] | length < totalQuestions %}
                    <button type="sumbit" class="btn btn-primary">Answer</button>
                {% endif %}
            </div>
        </form>
    </div>
</div>

<!-- the rounds -->
<div class="row m-0 p-0">
    <div class="col-12 m-0 p-0">
        <hr>
    </div>
    {% for round in range(quiz.userCount) %}
    <div class="col-12 mb-1 p-0 mt-3">
        <h3 class="text-center">Round {{ round + 1 }}</h3>
        <!-- shows who's quiz master -->
        {% set quizMaster = quiz.usersNames[round] %}
        <p class="text-secondary m-0 text-center">{{ quizMaster }} is the quiz master!</p>
    </div>
    <div class="col-10 m-0 p-0">
        <!-- each round -->
        <div class="row m-0 p-0">
            {% for user in range(quiz.userCount) %}
            {% set usersName = quiz.usersNames[user] %}
                {% if usersName != quizMaster %}
                    <div class="col">
                        <label class="mt-3">{{ usersName }} answers:</label>
                        <br>
                        <ol class="p-0">
                            <!-- display the categories -->
                            {% for cat in range(quiz.categories) %}
                                <h5 class="my-3">{{ quiz.usersData[quizMaster]['categories'][cat] }} Questions</h5>
                                <!-- Users answers -->
                                {% for answer in range(quiz.questionsCount) %}
                                    {% set answerIndex = cat * quiz.questionsCount %}
                                    {% set questionsPerRound = quiz.questionsCount * quiz.categories %}
                                    {% set roundIndex = round * questionsPerRound %}
                                    <!-- if user is quizMaster minus the number of questions per round -->
                                    {% if user <= round %}
                                        <li class="ml-4"><span class="{% if quiz.showAnswers == 'False' %}hidden{% endif %}">{{ quiz['usersData'][usersName]['answers'][answer + answerIndex + roundIndex - questionsPerRound] }}</span></li>
                                    {% else %}
                                        <li class="ml-4"><span class="{% if quiz.showAnswers == 'False' %}hidden{% endif %}">{{ quiz['usersData'][usersName]['answers'][answer + answerIndex + roundIndex] }}</span></li>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </ol>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <!-- (desktop only) how many quesions have been answered from each player -->
    <div class="col-2 p-0 d-none d-md-block mb-3">
        {% for user in range(quiz.userCount) %}
        {% set usersName = quiz.usersNames[user] %}
        <p class="m-0 text-right"><b>{{ usersName }}</b>: {{ quiz.usersData[usersName]['answers'] | length }} / {{ quiz.categories * quiz.questionsCount * usersQuestions }}</p>
        {% endfor %}
    </div>
    <div class="col-12 m-0 p-0">
        <hr>
    </div>
    {% endfor %}
</div>

{% endblock %}