{% extends 'base.html' %}
{% block content %}

<!-- Page title -->
<h2 class="text-center mt-3 mb-2">Quiz Master</h2>
<h6 class="m-0 text-secondary text-center mb-3">Settings</h6>
<hr class="mb-2">

<div class="d-flex justify-content-center">
    <div class="enter-container">
        <div class="container-fluid p-0">
            <h5 class="text-center my-2">Enter Your Settings</h5>
            <form method="POST">
                <div class="row m-0 p-0">
                    <div class="col-12 m-0 p-0">
                        <label>Create a unique quiz name!</label>
                        <input type="text" class="form-control" placeholder="Smith's Quiz" name="quizName" required>
                    </div>
                    <div class="col-6 p-0 pr-3">
                        <label>Secure Pin</label>
                        <input type="number" class="form-control" placeholder="8849" name="pin" required>
                    </div>
                    <div class="col-6 p-0">
                        <label>Categories</label>
                        <input type="number" name="categories" placeholder="3" class="form-control" required>
                    </div>
                    <div class="col-12 p-0">
                        <label>Questions Per Category</label>
                        <input type="number" name="questionsCount" placeholder="10" class="form-control" required>
                    </div>
                    <div class="col-12 m-0 p-0 mt-2">
                        <label>How many people are taking part in the quiz?</label>
                    </div>
                    <div class="col-12 m-0 p-0">
                        <input type="number" class="form-control" min='2' placeholder="2" id="userCount" name="userCount" required>
                    </div>
                    <div class="col-12 m-0 p-0 mt-3">
                        <div class="btn btn-info" onclick="addUsers()">Next</div>
                    </div>
                    <div id="usersContainer" class="container-fluid p-0">

                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="m-0 my-2 mt-4 text-secondary">If the quiz has already been created please go to:</p>
                <a href="/"><button class="btn btn-warning container-fluid my-2">Menu</button></a>
            </div>
        </div>
    </div>
</div>




<script>
    function addUsers() {
        var amountOfUsers = $('#userCount').val()
        $('#usersContainer').html('')
        if (amountOfUsers < 1) {
            $('#usersContainer').append('<p class="text-danger mt-2">Please enter the amount of people taking part in the quiz.</p>');
        } else {
            for (let i = 0; i < amountOfUsers; i++) {
            $('#usersContainer').append(`
            <div class="col-12 m-0 p-0 mt-2">
                <label>Player ${i + 1}</label>
                <input type="text" name="user${i + 1}" class="form-control" required>
            </div>
            `)
        }
        $('#usersContainer').append('<button class="btn btn-success mt-3 container-fluid">Create Quiz</button>')
        }
    
    }
</script>



{% endblock %}